<style>
    .glyphicons {
        font-size: 20px;
    }
</style>
<div id="actionButtons">
    <div class="pull-right">
        <ul class="nav navbar-nav navbar-right action-bar">
            <li>
                <a href="#" ng-click="createVacationRequest()">
                    <span class="glyphicons glyphicons-new-window-alt" aria-hidden="true"></span> Create Vacation
                    Request
                </a>
            </li>
            <!--<li>-->
                <!--<a href="#" ng-click="testSendMemo()">-->
                    <!--<span class="glyphicons glyphicons-new-window-alt" aria-hidden="true"></span>TestSendMemo-->
                <!--</a>-->
            <!--</li>-->

            <li>
                <a href="#" ng-click="addVacationToNotesCalendar()">
                    <span class="glyphicons glyphicons-new-window-alt" aria-hidden="true"></span>AddtoChadCalendar
                </a>
            </li>
        </ul>
    </div>
</div>