<style>
    .glyphicons {
        font-size: 20px;
    }
</style>

<div id="actionButtons">
    <div class="pull-right">
        <ul class="nav navbar-nav navbar-right action-bar">
            <li>
                <a href="#" ng-click="saveVacationRequest()">
                    <span class="glyphicons glyphicons-floppy-save" aria-hidden="true"></span> Save
                    Vacation
                    Request
                </a>
            </li>

            <li>
                <a id="statusButton" aria-haspopup="true"
                   aria-expanded="false" href="#" ng-click="recalculateDates()">
                    <span class="glyphicons glyphicons-refresh actionIcon" aria-hidden="true"></span> Recalculate
                </a>
            </li>
        </ul>
    </div>
</div>