<style>
    .glyphicons {
        font-size: 20px;
    }
</style>

<div id="actionButtons">
    <div class="pull-right">
        <ul class="nav navbar-nav navbar-right action-bar">

            <li ng-show="isNew()">
                <a href="#" ng-click="saveVacationRequest()">
                    <span class="glyphicons glyphicons-floppy-save" aria-hidden="true"></span> Save
                </a>
            </li>


            <li ng-show="isNew() && isSaved()">
                <a href="#" ng-click="submitVacationRequest()">
                    <span class="glyphicons glyphicons-inbox-in" aria-hidden="true"></span> Submit
                </a>
            </li>

            <li ng-show="isSubmitted() && isApprover()">
                <a href="#" ng-click="approveVacationRequest()">
                    <span class="glyphicons glyphicons-ok-circle" aria-hidden="true"></span> Approve
                </a>
            </li>

            <li ng-show="isSubmitted() && isApprover()">
                <a href="#" ng-click="rejectVacationRequest()">
                    <span class="glyphicons glyphicons-remove-circle" aria-hidden="true"></span> Reject
                </a>
            </li>

            <li ng-show="isApproved()">
                <a href="#" ng-click="cancelVacationRequest()">
                    <span class="glyphicons glyphicons-ban-circle" aria-hidden="true"></span> Cancel
                </a>
            </li>

            <li>
                <a href="#" ng-click="closeVacationRequest()">
                    <span class="glyphicons glyphicons-folder-closed" aria-hidden="true"></span> Close
                </a>
            </li>

            <li ng-show="isNew() && isSaved()">
                <a href="#" ng-click="deleteVacationRequest()">
                    <span class="glyphicons glyphicons-floppy-save" aria-hidden="true"></span> Delete
                </a>
            </li>

            <li ng-show="isSaved()">
                <a href="#" ng-click="deleteVacationRequest()">
                    <span class="glyphicons glyphicons-floppy-save" aria-hidden="true"></span> Admin Delete
                </a>
            </li>

            <li ng-show="isSaved()">
                <a href="#" ng-click="adminTakenRequest()">
                    <span class="glyphicons glyphicons-floppy-save" aria-hidden="true"></span> Admin Status Taken
                </a>
            </li>

        </ul>
    </div>
</div>