<style>
    .glyphicons {
        font-size: 20px;
    }
</style>

<div id="actionButtons">
    <div class="pull-right">
        <ul class="nav navbar-nav navbar-right action-bar">
            <li>
                <a href="#" ng-click="saveVacationRequest()">
                    <span class="glyphicons glyphicons-floppy-save" aria-hidden="true"></span> Save
                    Vacation
                    Request
                </a>
            </li>

            <li>
                <a id="statusButton" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" ng-click="">
                    <span class="glyphicons glyphicons-refresh actionIcon" aria-hidden="true"></span> Recalculate <span
                        class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href ng-click="recalculateHours()">Hours</a>
                    </li>
                    <li>
                        <a href ng-click="recalculateDates()">Dates</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>