<!DOCTYPE html>
<html ng-app="main">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="apple-touch-icon" sizes="144x144" href="images/ipad-retina.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="images/iphone-retina.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="images/ipad.png" />
    <link rel="apple-touch-icon" href="images/iphone.png" />
    <title>Vacation Tracker</title>

    <!--Frameworks-->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css" rel="stylesheet">

    <!--jQuery-->
    <script src="js/jquery-1.11.3.min.js"></script>

    <!--FullCalendar-->
    <script src="FullCalendar/lib/jquery.min.js"></script>
    <script src="FullCalendar/lib/moment.min.js"></script>
    <script src="FullCalendar/js/fullcalendar.js"></script>
    <link href="FullCalendar/css/fullcalendar.css" rel="stylesheet">

    <!--Angular-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="angular/angular-resource.js"></script>
    <script src="angular/angular-route.min.js"></script>

    <script src="js/calendar.js"></script>

    <!-- GUID generator -->
    <script src="js/angular-uuid2.min.js"></script>

    <!--Our JS-->
    <script src="js/calendarActions.js"></script>
    <script src="js/mainController.js"></script>
    <script src="js/support.js"></script>



    <!--Our Stylesheets-->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/select.css" rel="stylesheet">
    <link href="css/glyphicons-bootstrap.css" rel="stylesheet">
    <link href="css/glyphicons.css" rel="stylesheet">

</head>

<body ng-controller="mainCtrl" class="ng-cloak">


<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid" id="navLinksContainer" >
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="pull-left"><img src="images/vtBanner.jpg"/></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">My Requests <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="MyRequests.html">My Requests by Date</a></li>
                        <li><a href="MyGroupCalendar.html">My Group's Calendar</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">My Approvals <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="MyApprovals.html">My Approvals</a></li>
                        <li><a href="ApproverCalendar.html">Calendar View</a></li>
                    </ul>
                </li>
                <li class="dropdown test-dropdown pull-right">
                    <a href="#" id="userButton" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span
                            ng-bind="user.username">&nbsp;&nbsp;</span><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" >
                        <li class="">
                            <a id="" href="#" ng-click="logoutUser()">
                                Log out
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>




<nav class="navbar navbar-default navbar-fixed-top second-navbar" ng-show="true">
    <div id="actionLinksContainer" class="container-fluid">
        <div class="navbar-header">
            <div class="pageTitle">
                <h4>Vacation Request</h4>
            </div>
        </div>
        <!-- user button -->
       <div id="navbar" class="navbar-collapse collapse" ng-include="'partials/formActions.html'"></div>
    </div>
</nav>

<!--Our main form area-->
<div id="formBody" class="container-fluid">
    <!--Row containing calendar and day selectors-->
    <div class="row">

        <!--Our Calendar-->
        <div class="col-md-7">
            <div id='editCalendar' class="calendar" ng-model="eventSources" calendar="myCalendar1"
                 ui-calendar="uiConfig.editFormCalendar" ng-show="isNew()"></div>
            <div id='readCalendar' class="calendar" ng-model="eventSources" calendar="myCalendar1"
                 ui-calendar="uiConfig.readFormCalendar" ng-hide="isNew()"></div>

               <BR>
                <!--Legend-->
                <div class="row" id="testLegend">
                <div class='my-legend'>
                    <div class='legend-scale'>
                        <ul class='legend-labels'>
                            <li><span style='background:#fcf8e3;'></span>Today</li>
                            <li><span style='background:#bfbfbf;'></span>Weekend</li>
                            <li><span style='background:#bce8f1;'></span>Selected</li>
                        </ul>
                    </div>
                </div>
                </div>
        </div>

        <!--The Full/half day selections-->
        <div class="container col-md-5">
            <h4>Dates Selected</h4>
            <div class="row" ng-show="isMobileDevice">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="startDate"
                               ng-class="{'errorLabel': mainForm.postConstruction.postStartDate.$invalid}">Start Date</label>
                        <input type="date" class="form-control input-sm" name="startDate" id="startDate"
                               ng-model="vacationRequest.startDate" ng-disabled=""/>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="endDate"
                               ng-class="{'errorLabel': mainForm.postConstruction.postEndDate.$invalid}">End Date</label>
                        <input type="date" class="form-control input-sm" name="endDate" id="endDate"
                               ng-model="vacationRequest.endDate"
                               ng-disabled=""/>
                    </div>
                </div>
            </div>

            <form action="#" id="mainform" method="get" name="mainform">
                <!--<table id="myForm" class="table table-striped table-condensed"></table>-->
                <table id="myForm" class="table table-hover" >
                    <tr ng-repeat="day in vacationRequest.requestedDates">
                        <td>{{day.name}}</td>
                        <td>
                            <label><input type="radio" name="{{day.name}}" ng-model ="day.value"
                                          value="Whole" ng-change ="recalculateHours()" checked = "checked"
                                          ng-disabled="!isNew()">Whole
                            </label>
                        </td>
                        <td>
                            <label><input type="radio" name="{{day.name}}" ng-model = "day.value" value="Morning"
                                          ng-change="recalculateHours()" ng-disabled="!isNew()"> Morning</label>
                        </td>
                        <td>
                            <label><input type="radio" name="{{day.name}}" ng-model = "day.value" value="Afternoon"
                                          ng-change ="recalculateHours()" ng-disabled="!isNew()"> Afternoon</label>
                        </td>
                    </tr>
                </table>
            </form>

            <div class="row">
                <!--HoursSoFar-->
                <div class = pull-right>
                    <h4>Total Hours This Request: </h4>
                   <h2 class="pull-right" id="totalHours">{{vacationRequest.hoursThisRequest}}</h2>

                </div>
            </div>
        </div>
    </div>



    <!--Row containing Vacation Profile information-->
    <div class="row">
        <div class="col-md-12">

            <h3>My Vacation Hours</h3>
            <table class="table table-hover" id="dataTable">
                <thead class="thead-default">
                <tr>
                    <th>Year</th>
                    <th>Start of Year</th>
                    <th>Rolled Over</th>
                    <th>Floating</th>
                    <th>Year Total</th>
                    <th>Requested</th>
                    <th>Approved</th>
                    <th>Taken</th>
                    <th>Remaining</th>
                </tr>
                </thead>
                <tbody ng-repeat="x in vacationProfile">
                <tr>
                    <td scope="row">{{x.Year}}</td>
                    <td>{{x.HoursThisYear}}</td>
                    <td>{{x.HoursRolledOver}}</td>
                    <td>{{x.FloatingHolidayHours}}</td>
                    <td>{{x.TotalHours}}</td>
                    <td>{{x.HoursRequested}}</td>
                    <td>{{x.HoursApproved}}</td>
                    <td>{{x.HoursTaken}}</td>
                    <td>{{x.HoursRemaining}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<footer class="navbar  navbar-fixed-bottom footer">
    <div class="container-fluid">

    </div>
</footer>

<div id="notAvailableMask" class="hidden-lg hidden-md hidden-sm">
    <div id="notAvailableContent">
        <p>
            This application has not been optimized for use on small devices.
        </p>
        <p>
            Please open it using an iPad or desktop browser.
        </p>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-show="false"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{modal.title}}</h4>
            </div>
            <div class="modal-body">
                {{modal.body}}
            </div>
            <div class="modal-footer">
                <span ng-repeat="button in modal.buttons">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="callFunction(button.callback)">{{button.label}}</button>
                </span>
            </div>
        </div>
    </div>
</div>


<!-- Comments Modal -->
<div class="modal fade" id="commentsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <form>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-show="false"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel2">{{modal.title}}</h4>
                </div>
                <div class="modal-body">
                    <textarea class="form-control" id="comments" ng-model="comments" name="comments"
                           placeholder="Enter Comments.." required></textarea>

                </div>
                <div class="modal-footer">
                    <span ng-repeat="button in modal.buttons">
                        <!--<button type="button" class="btn btn-default" data-dismiss="modal"-->
                                <!--ng-click="addComments()">{{button-->
                            <!--.label}}</button>-->
                        <input type="submit" value="OK" ng-click="addComments()" class="btn btn-default" />

                    </span>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Bootstrap core JavaScript
 ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="bootstrap/js/bootstrap.min.js"></script>



</body>
</html>